:root {
    --width-img: 260px;
    --height-img: 480px;
}

div#carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: var(--width-img);
    height: var(--height-img);
}
div#carousel img {
    position: absolute;
    width: var(--width-img);
    height: var(--height-img);
}

div#thumbnails {
    margin-top: 1em;
    text-align: center;
}
